<div class="post-container post px-3">
        <div class="post-content-element">
            <form action="/twitter-clone/tweet/new-tweet" method="POST">
                <div class="post-content-element post-content-text fn-15">
                    <textarea id="post-content-element-textarea"
                              name="retweetContent"
                              class="post-content-element-textarea"
                              placeholder="What is happening?!"
                              rows="3" maxlength="500"
                              oninput="updateCharacterCount(); resizeTextarea();"></textarea>
                    <div class="fn-bold-15">
                        <span id="charactersLeft" class="charactersCount">500</span>
                    </div>
                    {{ tweet.content }}
                </div>
                <div class="post-content-element post-content-name fn-bold-15 mb-3">
                    <div class="new-post-content-options container p-2">
                        <div class="row">
                            <div class="new-post-content-options-left col-auto d-flex">
                            </div>
                            <div class="new-post-content-options-right col-auto ms-auto d-flex">
                                <button
                                        id="hide-retweet-dialog"
                                        type="submit"
                                        class="new-post-content-options-right-post fn-bold-20"
                                        hx-trigger="click"
                                        hx-target="#middle-side-tweet-timeline"
                                        hx-swap="innerHTML"
                                        hx-post="/twitter-clone/tweet/retweet/{{ tweet.id }}">POST
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
</div>