<div class="logo p-2">
    <img src="/img/twitter-logo.svg" alt="Twitter Logo"
         class="img-fluid left-side-hyper-element rounded"
         width="60"
         height="60">
</div>
<div class="side-nav">
    <div class="d-flex flex-column align-items-start">
        <div class=" p-2">
            <a class="sidenav-a"
               href="/twitter-clone/newsfeed/tweet-timeline"
               hx-get="/twitter-clone/newsfeed/tweet-timeline"
               hx-target="#middle-side-tweet-timeline"
               hx-swap="innerHTML">
                <div class="p-2 left-side-hyper-element rounded">
                    Home
                </div>
            </a></div>
        <div class=" p-2">
            <a class="sidenav-a"
               href="/twitter-clone/newsfeed/tweet-timeline/"
               hx-get="/twitter-clone/newsfeed/tweet-timeline/my-user"
               hx-target="#middle-side-tweet-timeline"
               hx-swap="innerHTML">
                <div class="p-2 left-side-hyper-element rounded">
                    Profile
                </div>
            </a>
        </div>
    </div>
</div>
