<div class="post-container px-3">
    <div class="post-image-content">
        <div class="post-image border image">{{ tweet.image }}</div>
        <div class="post-content-element">
            <div class=" post-content-element post-content-name fn-bold-15">
                <div href="/twitter-clone/newsfeed/tweet-timeline/"
                        hx-get="/twitter-clone/newsfeed/tweet-timeline/{{ tweet.userId }}"
                        hx-target="#middle-side-tweet-timeline"
                        hx-trigger="click"
                        hx-swap="innerHTML">
                    <div> {{ tweet.username }}</div>
                </div>
            </div>
            <div class=" post-content-element post-content-text fn-15 ">
                {% if tweet.originalTweet %}
                <div>{{ tweet.content }}</div>
                </br>
                <div> {{ tweet.originalTweet.content }}</div>
                {% else%}
                    {{ tweet.content }}
                {% endif %}
            </div>
        </div>
    </div>
</div>